$landing_title_color: #fff;
$color_1: #000;
$color_2: inherit;
$color_3: #001aff;
$color_4: #0012b3;
$color_5: #777;
$color_6: #0015cc;
$color_7: #fff;
$color_8: #e6e6e6;
$color_9: #31708f;
$color_10: #245269;
$color_11: #8a6d3b;
$color_12: #66512c;
$color_13: #c7254e;
$color_14: #333;
$color_15: #555;
$color_16: #999;
$color_17: #404040;
$color_18: transparent;
$color_19: #5cb85c;
$color_20: #5bc0de;
$color_21: #f0ad4e;
$color_22: #d9534f;
$color_23: #262626;
$color_24: #ccc;
$color_25: #9d9d9d;
$color_26: #444;
$color_27: rgb(184, 184, 184);
$color_28: white;
$color_29: #34495e;
$font_family_1: sans-serif;
$font_family_2: monospace, monospace;
$font_family_3: Roboto Mono, Helvetica, Arial, sans-serif;
$font_family_4: inherit;
$font_family_5: Menlo, Monaco, Consolas, Courier New, monospace;
$font_family_6: serif;
$font_family_7: Roboto, Helvetica, Arial, sans-serif;
$background_color_1: transparent;
$background_color_2: #fff;
$background_color_3: #fcf8e3;
$background_color_4: #001aff;
$background_color_5: #0015cc;
$background_color_6: #000;
$background_color_7: #d9edf7;
$background_color_8: #afd9ee;
$background_color_9: #f7ecb5;
$background_color_10: red;
$background_color_11: #c00;
$background_color_12: #f9f2f4;
$background_color_13: #333;
$background_color_14: #f5f5f5;
$background_color_15: #f9f9f9;
$background_color_16: #e8e8e8;
$background_color_17: #c4e3f3;
$background_color_18: #faf2cc;
$background_color_19: #e60000;
$background_color_20: #eee;
$background_color_21: #5cb85c;
$background_color_22: #5bc0de;
$background_color_23: #f0ad4e;
$background_color_24: #d9534f;
$background_color_25: #e5e5e5;
$background_color_26: #ddd;
$background_color_27: #888;
$background_color_28: #777;
$background_color_29: #5e5e5e;
$background_color_30: #449d44;
$background_color_31: #31b0d5;
$background_color_32: #ec971f;
$background_color_33: #c9302c;
$border_color_1: #66afe9;
$border_color_2: #fff;
$border_color_3: #e6e6e6;
$border_color_4: #8a6d3b;
$border_color_5: #66512c;
$border_color_6: #000;
$border_color_7: #001aff;
$border_color_8: #000d80;
$border_color_9: #0014c2;
$border_color_10: #5cb85c;
$border_color_11: #2d672d;
$border_color_12: #419641;
$border_color_13: #5bc0de;
$border_color_14: #1f7e9a;
$border_color_15: #2aabd2;
$border_color_16: #f0ad4e;
$border_color_17: #b06d0f;
$border_color_18: #eb9316;
$border_color_19: #d9534f;
$border_color_20: #8b211e;
$border_color_21: #c12e2a;
$border_color_22: transparent;
$border_color_23: #eee #eee #ddd;
$border_color_24: #ddd;
$border_color_25: #333;
$border_color_26: #bce8f1;
$border_color_27: #faebcc;
$border_color_28: red;
$border_top_color_1: #000;
$border_top_color_2: #a6e1ec;
$border_top_color_3: #f7e1b5;
$border_top_color_4: #e60000;
$border_bottom_color_1: transparent;
$border_bottom_color_2: #fff;
$landing_image: '../img/space.jpg';